modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick_light", "nedit", "try"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[env]
PORT = "5000"

[agent]
integrations = ["javascript_database==1.0.0", "javascript_supabase==1.0.0", "javascript_sendgrid==1.0.0"]

[[ports]]
localPort = 5000
externalPort = 80

[objectStorage]
defaultBucketID = "replit-objstore-80f613b7-e782-4754-9b10-4f5bb52443a8"
